:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 300ms;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
    min-height: 160px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}

@media (max-width: 767px) {
    .page .content main > section {
        margin: 10px;
    }
}

.page main .main-title {
    margin-bottom: 40px;
}

.page main .main-title::before,
.page main .main-title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.page main .main-title::before {
    background-color: white;
    width: 120px;
}

.page main .main-title::after {
    background-color: black;
    width: 40px;
}

.toggle-checkbox {
    display: none;
}

.toggle-switch {
    position: relative;
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    position: absolute;
    font-weight: 900;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
/* start Sidebar */
.page aside {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.page aside .sticky {
    position: sticky;
    top: 20px;
}

.page aside .sticky > h3 {
    margin-bottom: 50px;
}

.page aside .sticky > h3::before,
.page aside .sticky > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.page aside .sticky > h3::before {
    width: 93.5px;
    height: 2px;
}

.page aside .sticky > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 5px solid white;
}

.page aside ul li a {
    transition: var(--main-transition);
}

.page aside ul li a i.right-angle {
    display: none;
}

@media (min-width: 768px) {
    .page aside ul li a.active i.right-angle{
            display: block;
            flex: 1;
            text-align: right;
        }
}

.page aside ul li a:hover,
.page aside ul li a.active {
    background-color: #f6f6f6;
}

@media (max-width: 767px) {
    .page aside {
        width: 80px;
        padding: 10px;
    }

    .page aside .sticky > h3 {
        font-size: 13px;
        margin-bottom: 35px;
    }

    .page aside .sticky > h3::before {
        width: 64px;
        height: 1px;
        bottom: -15px;
    }

    .page aside .sticky > h3::after {
        width: 8px;
        height: 8px;
        border-width: 3px;
        bottom: -15px;
    }

    .page aside ul li a {
        flex-direction: column;
        padding: 8px 5px;
        gap: 5px;
        margin-bottom: 10px;
    }

    .page aside ul li a:not(.active) {
        border-top: 0.1rem solid #d6d6d699;
        border-bottom: 0.1rem solid #d6d6d699;
    }

    .page aside ul li a span {
        font-size: 10px;
    }
}

/* Start Header */
.page .content {
    overflow: hidden;
}

.page .content header .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    position: absolute;
    font-weight: 900;
    color: var(--grey-color);
    font-size: 14px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.page .content header .search input[type=search] {
    border: 1px solid #ccc;
    width: 160px;
    transition: width var(--main-transition);
}

.page .content header .search input[type=search]:focus {
    width: 175px;
}

.page .content header .search input[type=search]::placeholder {
    color: var(--grey-color);
    transition: opacity var(--main-transition);
}

.page .content header .search input[type=search]:focus::placeholder {
    opacity: 0;
}

.page .content header .icons .notification::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -4px;
    top: -4px;
}

.page .content header .icons picture img {
    width: 32px;
    height: 32px;
}

/* Start Dashboard */
/* wrapper */

.wrapper > article {
    border-bottom: 2px solid #aaa;
}

/* Start Welcome */
.page .content main .wrapper .welcome {
    overflow: hidden;
}

.page .content main .wrapper .welcome .intro picture img[alt=welcome] {
    width: 200px;
    margin-bottom: -10px;
}

.page .content main .wrapper .welcome picture img[alt=avatar] {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.page .content main .wrapper .welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.page .content main .wrapper .welcome .body > div {
    flex: 1;
}

.page .content main .wrapper .visit {
    margin-left: auto;
    transition: 0.3s;
}

.page .content main .wrapper .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .page .content main .wrapper .welcome .intro {
        padding-bottom: 30px;
    }

    .page .content main .wrapper .welcome picture img[alt=avatar] {
        margin-left: 0;
    }

    .page .content main .wrapper .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }

    .page .content main .wrapper .welcome .body > div span {
        margin-top: 5px;
    }
}

/* Start Quick Draft */

.page .content main .wrapper .quick-draft input[type=submit] {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.page .content main .wrapper .quick-draft input[type=submit]:hover {
    background-color: var(--blue-alt-color);
}

/* Start Targets */
.targets .target .icon {
    width: 80px;
    height: 80px;
}

.targets .target .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .blue .progress,
.targets .blue .icon {
    background-color: rgba(0, 117, 255, 0.2);
}

.targets .orange .progress,
.targets .orange .icon {
    background-color: rgba(245, 158, 11, 0.2);
}

.targets .green .progress,
.targets .green .icon {
    background-color: rgba(34, 197, 94, 0.2);
}

.targets .details .progress > span {
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress > span span {
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
}

.targets .details .progress > span span::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.target.blue .details .progress > span span::after {
    border-top-color: var(--blue-color);
}

.target.orange .details .progress>span span::after {
    border-top-color: var(--orange-color);
}

.target.green .details .progress>span span::after {
    border-top-color: var(--green-color);
}

/* Start Tickets */
main .wrapper .tickets .box {
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    main .wrapper .tickets .box {
        width: 100%;
    }
}

/* Start News */
main .wrapper .news .new:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    main .wrapper .news .new {
        flex-direction: column;
        gap: 0;
    }

    main .wrapper .news .new .btn-shape {
        margin-top: 15px;
    }
}

/* Start Tasks */
main .wrapper .tasks .task:not(:last-child) {
    border-bottom: 1px solid #eee;
}

main .wrapper .tasks .task:nth-child(5) {
    opacity: 0.3;
}

main .wrapper .tasks .task:nth-child(5) h3,
main .wrapper .tasks .task:nth-child(5) p {
    text-decoration: line-through;
}

main .wrapper .tasks .task i {
    cursor: pointer;
}

main .wrapper .tasks .task:nth-child(5) i {
    cursor: not-allowed;
}

/* Start Top Searching Items*/
main .wrapper .uploads .upload:not(:last-child) {
    border-bottom: 1px solid #eee;
}

main .wrapper .uploads .upload img {
    width: 50px;
}

/* Start Last Project */
main .wrapper .last-project .items::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 10px);
    background-color: var(--blue-color);
    left: 12px;
    transform: translateX(-50%)
}

main .wrapper .last-project .items li::before {
    content: "";
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    z-index: 1;
}

main .wrapper .last-project .items li:not(:nth-child(1n+4)):before {
    background-color: var(--blue-color);
}

main .wrapper .last-project .items li:nth-child(4)::before {
    animation: change-color 800ms infinite alternate
}

main .wrapper .last-project img {
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

/* Start Reminders */
main .wrapper .reminders .reminder > div{
    border-left: 2px solid transparent;
}

main .wrapper .reminders .reminder .circle {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

main .wrapper .reminders .reminder .blue {
    border-color: var(--blue-color);
}

main .wrapper .reminders .reminder .green {
    border-color: var(--green-color);
}

main .wrapper .reminders .reminder .orange {
    border-color: var(--orange-color);
}

main .wrapper .reminders .reminder .red {
    border-color: var(--red-color);
}

/* Start Posts */
main .wrapper .latest-post .person img {
    width: 48px;
}

main .wrapper .latest-post .post-content {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
    min-height: 140px;
} 

main .wrapper .latest-post .post-stats > div {
    cursor: pointer
}

main .wrapper .latest-post .post-stats > div i {
    width: 35px;
    height: 35px;
}

main .wrapper .latest-post .post-stats > div:first-child:hover {
    color: rgb(249, 24, 128);
}

main .wrapper .latest-post .post-stats > div:first-child:hover i {
    background-color: rgb(249, 24, 128, 0.1);
}

main .wrapper .latest-post .post-stats > div:last-child:hover {
    color: rgb(29, 155, 240);
}

main .wrapper .latest-post .post-stats>div:last-child:hover i {
    background-color: rgb(29, 155, 240, 0.1);
}

/* Start Social Media */
main .wrapper .social-media .box {
    padding-left: 60px;
}

main .wrapper .social-media .box i {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: 0.3s;
}

main .wrapper .social-media .box:nth-child(2n) i:hover {
    transform: rotate(5deg);
}

main .wrapper .social-media .box:nth-child(2n+1) i:hover {
    transform: rotate(-5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

/* Start Projects Table */
@media (max-width: 767px) {
    .page .content main .projects {
        margin: 10px;
    }
}


.page .content main .projects .responsive-table {
    overflow-x: auto;
}

.page .content main .projects table {
    min-width: 1000px;
    border-spacing: 0;
    margin-bottom: 10px;
}

.page .content main .projects table td {
    padding: 15px;
}

.page .content main .projects table thead td {
    font-weight: bold;
    background-color: #eee;
}

.page .content main .projects table tbody td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.page .content main .projects table tbody td:last-child {
    border-right: 1px solid #eee;
}

.page .content main .projects table tbody tr:hover td {
    background-color: #faf7f7;
}

.page .content main .projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.page .content main .projects table picture:not(:first-child) img {
    margin-left: -20px;
}

/* End Dashboard */
/* Start Settings */

.settings-page .site-control {
    padding-right: 5px;
}

.settings-page .email:disabled {
    background-color: #f0f4f8;
    color: #bbb;
    cursor: not-allowed;
}

.settings-page .email:disabled + a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings-page .sec-box:not(:last-child) {
    border-bottom: 1px solid #eee
}
/* Social Info */

.settings-page .social-info .box i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 300ms;
}

.settings-page .social-info .box input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    padding-left: 10px;
}

.settings-page .social-info .box:focus-within i {
    color: black;
}

/* Start Widgets Control */
.settings-page .widgets-control label input[type="checkbox"] {
    display: none;
}

.settings-page .widgets-control label input[type="checkbox"] + span {
    padding-left: 30px;
    position: relative;
    cursor: pointer
}

.settings-page .widgets-control label input[type="checkbox"] + span::before,
.settings-page .widgets-control label input[type="checkbox"] + span::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
}

.settings-page .widgets-control label input[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color)
}

.settings-page .widgets-control label input[type="checkbox"] + span:hover::before {
    border-color: var(--blue-alt-color)
}


.settings-page .widgets-control label input[type="checkbox"] + span::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 13px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 300ms;
}

.settings-page .widgets-control label input[type="checkbox"]:checked + span::after {
    transform: scale(1)
}

/* Start Backup */
.settings-page .backup-manager input[type="radio"] {
    display: none;
}

.settings-page .backup-manager label input[type="radio"] + span {
    padding-left: 30px;
    position: relative;
    cursor: pointer
}

.settings-page .backup-manager label input[type="radio"] + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.settings-page .backup-manager label input[type="radio"] + span::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: 300ms;
    transform: scale(0);
}

.settings-page .backup-manager label input[type="radio"]:checked + span::before {
    border-color: var(--blue-color);
}

.settings-page .backup-manager label input[type="radio"]:checked + span::after {
    transform: scale(1);
}

.backup-manager .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .backup-manager .servers {
        flex-wrap: wrap;
    }
}

.backup-manager .servers .server {
    border: 2px solid #eee;
    position: relative;
}

.backup-manager .servers .server label {
    cursor: pointer;
}

.backup-manager .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/* Start Profile Page */
/* Start Overview */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .avatar {
    min-width: 220px;
}

@media (min-width: 768px) {
    .profile-page .avatar {
        border-right: 1px solid #eee;
    }
}

.profile-page .overview .avatar img {
    width: 120px;
    height: 120px;
}

.profile-page .overview .avatar .level {
    height: 6px;
    overflow: hidden;
}

.profile-page .overview .avatar .level span {
    position: absolute;
    left: 0;
    top: 0;
}

.profile-page .overview .info-box .box {
    flex-wrap: wrap;
    transition: 300ms;
}

.profile-page .overview .info-box .box:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .profile-page .overview .info-box .box {
        flex-direction: column;
    }
}

.profile-page .overview .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .overview .info-box .box > div {
    min-width: 220px;
}

.profile-page .info-box h4 {
    font-weight: normal;
}

.profile-page .info-box .toggle-switch {
    height: 20px
}

@media (max-width: 767px) {
    .profile-page .info-box .toggle-switch {
        margin: auto;
    }
}

.profile-page .info-box .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px
}

.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px
}

/* Start Other Data */
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}

/* Start Skills */
.profile-page .other-data .skills ul li {
    padding: 15px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .profile-page .other-data .skills ul li {
        justify-content: center;
    }
}

.profile-page .other-data .skills ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.profile-page .other-data .skills ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}

/* Start Activities */
.profile-page .other-data .activities {
    flex: 2;
}

.profile-page .other-data .activities .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .profile-page .other-data .activities .activity {
        flex-direction: column;
        gap: 15px
    }
}

.profile-page .other-data .activities img {
    width: 64px;
    height: 64px;
}

@media (min-width: 768px) {
    .profile-page .other-data .activities .activity .date {
        text-align: right;
    }
}

/* Start Projects Page */
.projects-page .project .date {
    top: 2px;
    right: 10px;
}

.projects-page .project h4 {
    font-weight: normal;
}

.projects-page .project .team {
    min-height: 80px;
}

.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.projects-page .project .team a:nth-child(2) {
    left: 25px;
}

.projects-page .project .team a:nth-child(3) {
    left: 50px;
}

.projects-page .project .team a:nth-child(4) {
    left: 75px;
}

.projects-page .project .team a:nth-child(5) {
    left: 100px;
}

.projects-page .project .team a:hover {
    z-index: 100;
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .project .do {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .projects-page .project .do {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
}

.projects-page .project .info .progress {
    height: 8px;
    width: 240px
}

.projects-page .project .info .progress span {
    left: 0;
    top: 0;
}

/* Start Courses Page */
.courses-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .courses-page {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}

.courses-page .course .cover {
    max-width: 100%;
}

.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}

.courses-page .course .text {
    min-height: 182px;
    flex-wrap: wrap;
}

.courses-page .course .description {
    line-height: 1.6;
}

.courses-page .course .info {
    border-top: 1px solid #eee;
}

.courses-page .course .info .title {
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

/* Start Friends Page */
.friends-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }
}

.friends-page .friend .contact {
    position: absolute;
    left: 10px;
    top: 10px;
} 

.friends-page .friend .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 300ms
}

.friends-page .friend .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}

@media (max-width: 767px) {
    .friends-page .friend .date-info {
        flex-direction: column;
        gap: 20px;
    }

}

.friends-page .friend .date-info > span {
    margin-right: auto;
}

.friends-page .friend .date-info > div {
    margin-left: auto;
}

/* Start Animation */
@keyframes change-color {
    0% {
        background-color: var(--blue-color);
    }

    100% {
        background-color: white;
    }
}
